.header__logo {
  background-image: url(../../../img/logo.svg);
  width: 142px;
  height: 33px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto 41px 0;
  background-size: cover;
}

@media(max-width: 880px) {
  .header__logo {
    margin-bottom: 31.6px;
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}