.profile__info {
  box-sizing: border-box;
  margin: 0 0 3.75px;
  padding: 0;
  color: #FFF;
  display: grid;
  align-items: center;
  grid-template-areas:
  "profile__avatar profile__title edit-button"
  "profile__avatar subtitle edit-button";
}

@media(max-width: 880px) {
  .profile__info {
    grid-template-areas:
    "profile__avatar profile__avatar"
    "profile__title edit-button"
    "subtitle subtitle";
    margin: 0 auto;
    justify-items: center;
  }
}