.profile {
  box-sizing: border-box;
  margin: 36.25px auto 0;
  padding: 0;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 880px) {
  .profile {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 38.25px;
  }
}