.profile__avatar {
  box-sizing: border-box;
  padding: 0;
  margin: 3.75px 30px 3.75px 0;
  width: 120px;
  height: 120px;
  grid-area: profile__avatar;
  position: relative;
}

.profile__avatar:hover::after {
  content: '';
  background-image: url(../../../img/Edit-Button.svg);
  background-size: cover;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  cursor: pointer;
}

.profile__avatar:hover .profile__img {
  opacity: 0.8;
}

@media(max-width: 880px) {
  .profile__avatar {
    margin-left: auto;
    margin-right: auto;
  }
}