.header__menu-mobile {
  display: none;
}

@media(max-width: 880px) {
  .header__menu-mobile {
    display: block;
    transform: translateY(-50%);
    width: 30px;
    height: 15px;
    background: none;
    border: none;
    display: flex;
    align-items: flex-end;
  }

  .header__menu-mobile::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    box-shadow: 0 9px 0 0 #fff, 0 18px 0 0 #fff;
  }

  .header__menu-mobile:hover {
    cursor: pointer;
    opacity: .6;
  }
}